:root {
    --purple: #E0BBE4;
    --darkpurple: #957DAD;
    --pink: #FF9AA2;
    --grey: #909497;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.affix+.container-fluid {
    padding-top: 70px;
}

.heading1 {

    display: flex;
    color: white;
    background-color: #E0BBE4;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
    font-size: 1.2vw;
}

.logo {
    position: absolute;
    width: 12vw;
    height: 12vw;
}

.thanhtimkiem {
    margin-left: 12%;
    margin-top: 3.5vw;
    width: 65%;
    position: absolute;
    background-color: white;
    border-radius: 50vw;


}

.timkiemsp {
    float: left;
    width: 100%;
    background: #FDFEFE;
    border-radius: 50vw;
    font-style: italic;
    height: 2.2vw;
    font-size: 1vw;
}

#icon {
    color: black;
    font-size: 2.5vw;
    font-weight: bolder;
    padding: 0;
    margin-right: 1vw;
}

.icon2 {
    margin-top: 3.5vw;
    margin-right: 10vw;
    float: right;
}

#icon-search {
    display: flex;
    color: black;
    font-size: 1.8vw;
    font-weight: bolder;
    position: absolute;
    right: 0.5vw;
    top: 2px;
    bottom: 2px;
    border-radius: 50vw;
}

button {
    text-decoration: none;
    background: white;
    border: none;
    font-weight: bolder;
    font-size: 28px;
    color: black;
}

nav {
    margin-top: 7%;
    margin-left: 4vw;
    font-size: 1.5vw;
    margin-bottom: 2vw;
}

a {
    text-decoration: none;
    color: var(--purple);
}

nav li {
    float: left;
    display: block;
    padding: 1vw 4vw 1vw 4vw;
}

nav a {
    display: block;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
}

li a:hover:not(.active) {
    background-color: var(--purple);
    color: white;
    text-decoration: none;
}

li a.active {
    color: var(--purple);
    text-decoration: none;
}

li a:focus {
    background-color: white;
    color: var(--purple);
    text-decoration: none;
}

.frame {
    background-color: #E5E7E9;
    margin-top: 15vw;
    line-height: 2vw;
    font-size: 1.2vw;
    padding-left: 2vw;

}

.breadcrumb {
    margin: 0;
}

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #E5E7E9;
    font-weight: bold;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: var(--darkpurple);
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: var(--darkpurple);
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: var(--darkpurple);
    text-decoration: underline;
    background-color: none;
}

.banner {
    margin: 0;
    width: 100%;
}

img {
    width: 100%;
}

.voucher {
    border: 1px solid #D9D9D9;
    margin: 3vw 10vw;
}

h3 {
    margin-left: 5vw;
    font-weight: bolder;
    font-size: 1.8vw;
    color: #000;
    margin-bottom: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.grid-container>img {
    margin-bottom: 1vw;
}

footer {
    background-color: #957DAD;
    margin-top: 10vw;
    padding-top: 4vw;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 0;
}

.nav2 {
    overflow: hidden;
    position: relative;
}

.nav2 a {
    margin: auto;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
    padding: 6%;
    margin: auto;
    justify-content: space-around;
    align-content: space-around;

}

.logo2 {
    position: absolute;
    margin-left: 43%;
    background: #957DAD;
    align-content: center;
    margin-top: 7vw;
    width: 9vw;
    height: 9vw;
}

.line2 {
    border: 1px solid #00000080;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.footer-text {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    background-color: var(--darkpurple);
    border: none;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 1vw;
    position: relative;
    margin-bottom: 0;
    margin-right: 0;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-align: center;

}