input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;

}
:root {
    --purple: #E0BBE4;
    --pink: #FF9AA2;
    --grey:#909497;
}
body {
    font-family: 'Inter', sans-serif;  
   
}

* {
    box-sizing: border-box;
}
img{
    width: 14vw;
}
form{
    width: max-content;
    margin: auto;
    border: 1px solid var(--purple);
    margin-top: 6vw;
}
table{
    margin: 2vw;
}
label{
    margin-right: 2vw;
    font-weight: bold;
   
}
h1{
    margin: 0;
    border-bottom: 1px solid  var(--grey);
    padding:0.5vw 2vw 0.5vw 2vw;
    font-size: 1.8vw;
}

input{
    border-radius: 5px;
    width: 20vw;
    height: 2vw;
    border: 1px solid  var(--grey);
    
}
td{
    padding-bottom: 1vw;
}
button{
    float: right;  
    border: none;
    padding: 0.5vw 2vw 0.5vw 2vw;
    background-color: var(--pink);
    color: white;
    border-radius: 50px;
    font-size: 1.2vw;
    margin-top: 1vw;
}
select {
    border-radius: 5px;
    width: 20vw;
    height: 2vw;
    border: 1px solid  var(--grey);
}
option{
    font-size:1vw;
    font-style:normal;
    padding:1vw;
}
.diachi {
    background-color: #eaeaea;
    border-radius: 10px;
}