<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        function User(firstName, lastName, avatar){
            this.firstName=firstName;
            this.lastName=lastName;
            this.avatar=avatar;
            
            this.getName =function(){
                return this.firstName +this.lastName;
            }
        }
        var author = new User('Duc', 'Tai', 'abc');
        var user = new User('Duc', 'Thinh', '123');

        console.log(author.getName());
        console.log(user.getName());
    </script>
</body>
</html>